<p></p>
<br>
<br>
<div class="container">
    <h4>Leaderboard</h4>
    <div class="mat-elevation-z8" style="border:1px solid black; height: 500px; ">
        <table mdbTable mdbTableScroll scrollY="true" scrollX="false" maxHeight=500>
            <thead class="indigo darken-3 white-text   ">
              <tr>
                <th>Rank</th>
                <th>Team name</th>
              </tr>
            </thead>
            <tbody >
              <tr>
                <th scope="row"> No ongoing races</th> <!-- Should add a team in the row.-->
              </tr>
            </tbody>
        </table>
    </div>
</div>