<p></p>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="mat-elevation-z8" style="border:1px solid black; height: 600px;">
        <table mdbTable mdbTableScroll scrollY="true" scrollX="false" maxHeight=600>
          <thead class="indigo darken-3 white-text">
            <tr>
              <th>Race ID</th>
              <th>Location</th>
              <th>Date and time</th>
              <th>Modify</th>
            </tr>
          </thead>
          <tbody *ngFor="let race of allRaces">
            <tr>
              <th scope="row">{{race.raceID}}</th>
              <td>{{race.locationDescription}}</td>
              <td>
                <div>
                  <label>{{race.startTime | date:"MM/dd/yyyy"}}</label>
                  <label>&nbsp;at {{race.startTime | date:"HH:mm"}}</label>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-warning" (click)="editRace(race.raceID)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteRace(race.raceID)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-5">
      <div class="box">
        <h5>Race today</h5>
        <!-- <label class="raceinfo">Race today: </label> -->
        <a href="#">Sønderborg Havn </a>
        <h5>At 10 AM</h5>
        <button type="button" class="btn btn-success">Start Race NOW !</button>
      </div>
      <div class="box">
        <form [formGroup]="newRaceForm" (ngSubmit)="submit()">
        <div>
          <h5>Add a new race</h5>
          <br>
          <input formControlName="location" placeholder="Location" required class="form-control" [(ngModel)]="locationDescription">
          <br>
          <input class="form-control" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" placeholder="Date"
            formControlName="date" [(ngModel)]="startTime" #spy>
          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
          <br>
          <input class="form-control" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" placeholder="Time"
            formControlName="time" [(ngModel)]="startTime">
          <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
          <br>
          <br>
          <button class="btn btn-success" type="submit">Add a Race</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>

      </div>
    </div>
    <div class="col-5">
      <!-- <div>
        <div>Add a new race:
          <br>
          <br>
          <br>
          <input placeholder="Location" required="">
          <br>
          <br>
          <input type="date" id="locationDate" name="location">
          <br>
          <br>
          <input type="submit" value="Add a race">
        </div>
      </div> -->
    </div>
  </div>
</div>
