<p></p>
<br>
<br>
<div class="containerCenter"> 
    <div class="center">
        <table style="float: left;">
            <tr>
              <th>Races: </th>
            </tr>
            <tr>
                <td>Race Today at 12 AM ats Sønderborg Havn </td> 
                <div class="container">
                  <tr>
                    <button type="button" class="btn btn-warning" >Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </tr>
                </div>
              </tr>
              <tr>
                <td>Race  at 08/08/21 10 AM at Sønderborg Havn </td> 
                <div class="container">
                  <tr>
                    <button type="button" class="btn btn-warning" >Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </tr>
                </div>
              </tr>
              <tr>
                <td>Race 09/08/21 at 09 AM at Sønderborg Havn </td> 
                <div class="container">
                  <tr>
                    <button type="button" class="btn btn-warning" >Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </tr>
                </div>
              </tr>
        </table>


        <label class="raceinfo" style="float: right;">Race today: </label>
        <a href="#" style="float:right;text-align:right;margin-left: 100px;">Sønderborg Havn </a>
        <h5 style="float:right;text-align:right;margin-left: 100px;">At 10 AM</h5>
      <!--  <img src="assets/img/time.png" width="100" height="100" style="float: inline-end;">   -->
        
        <button style="float:right;text-align:right;margin-left: 100px;" type="button" class="btn btn-success">Start Race NOW !</button>
    </div>

    <div class="containterBox"> 
    <div class="location" style="font-weight: bold;">Add a new race:   
        <br>
        <br>
        <br>
        <input placeholder="Location" required="">
        <br>
        <br>
        <input type="date" id="locationDate" name="location">
        <br>
        <br>
        <input type="submit" value="Add a race">
    </div>
</div>