<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="info" style="float:left;"><b> Teams attending this race: (RaceID: {{currentRace.raceID}}) </b></h2>
        </div>
        <div class="col-5" >
            <div ngbDropdown class="btn-group" style="float: right;">
                <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Click here to add a team</button>
                <ul class="dropdown-menu">
                    <button class="dropdown-item" *ngFor="let team of availableTeams" 
                    (click)="assignTeam(currentRace.raceID, team.teamName)">{{team.teamName}}</button>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="mat-elevation-z8" style="border:1px solid black; height: 500px;">
            <table mdbTable mdbTableScroll scrollY="true" scrollX="false" maxHeight=500>
                <thead class="indigo darken-3 white-text ">
                    <tr>
                        <th>Teams</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="teamsAttending?.length == 0">
                    <h5>No teams attending this race</h5>
                </tbody>
                <tbody *ngFor="let team of teamsAttending">
                    <tr *ngIf="teamsAttending?.length > 0 && team.teamName;">
                        <th scope="row">{{team.teamName}}</th>
                        <td>
                            <button (click)="removeTeam(currentRace.raceID, team.teamName)" type="button" class="btn btn-danger" style="float: right; ">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>