<form>
    <!-- DIAGNOSTICS {{diagnosticDataRace}} -->
    <div class="container">
        <div class="imgcontainer">
            <img style="margin-bottom: 30px;" src="assets/img/boat-race.png" width="110" alt="Avatar" class="avatar">
            <label style="margin-left: 30px;">Manage this race</label>
        </div>
        <div >
            <form [formGroup]="raceEditForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col">
                        <input class="form-control" name=location type="text" placeholder="Location"
                            formControlName="location" [(ngModel)]="currentRace.locationDescription">
                        <div *ngIf="raceEditForm.controls.location.errors" class="alert alert-danger">
                            <div *ngIf="raceEditForm.controls.location.errors.required">Location is required</div>
                            <div *ngIf="raceEditForm.controls.location.errors.minlength">Too short</div>
                        </div>
                    </div>
                    <div class="col">
                        <input class="form-control" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" placeholder="Date"
                            formControlName="date" [(ngModel)]="currentRace.startTime" #spy>
                        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                        <div *ngIf="raceEditForm.controls.date.errors" class="alert alert-danger">
                            <div *ngIf="raceEditForm.controls.date.errors.required">Date is invalid</div>
                        </div>
                        <!-- {{raceEditForm.controls.date.value}} -->
                    </div>
                    <div class="col">
                        <input class="form-control" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" placeholder="Time"
                            formControlName="time" [(ngModel)]="currentRace.startTime">
                        <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                        <div *ngIf="raceEditForm.controls.time.errors" class="alert alert-danger">
                            <div *ngIf="raceEditForm.controls.time.errors.required">Time is invalid</div>
                        </div>
                    </div>
                    <div class="col">
                        <button class="saveBtn" style="width: 90%; margin: 10px; padding: 15px;">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col">
                <h3 style="text-align: center;">Click on the map to place a checkpoint</h3>
            </div>
        </div>
        <div class="row" style="margin: 20px;">
            <div class="col">
                <div style="border:5px solid black;">
                    <google-map width="100%" [zoom]="zoom" [center]="center" [options]="options"
                        (mapClick)="addCurrentLocation($event)">
                        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
                            [title]="marker.title" [options]="marker.options">
                        </map-marker>
                    </google-map>
                </div>
            </div>
            <div class="col-5">
                <button type="button" class="teamBtn" style="width: 100%; " routerLink="/race-teams-management"><i class="fas fa-users"
                    aria-hidden="true"></i>&nbsp;Teams Assigned</button>
                <div style="border:5px solid black; height: 450px;">
                    <!-- Setting width to 101% had to be done in order to avoid a white vertical line at the end -->
                    <table class="myTable" mdbTable mdbTableScroll scrollY="true" scrollX="false" maxHeight=440
                        style="width: 101%;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Checkpoint No.</th>
                                <th scope="col">Latitude</th>
                                <th scope="col">Longitude</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let marker of markers">
                            <tr>
                                <th scope="row">{{marker.checkpointNo}}</th>
                                <td>{{marker.position.lat}}</td>
                                <td>{{marker.position.lng}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <!-- Use custom zoom buttons -->
                <button class="btn btn-outline-primary" (click)="zoomIn()">Zoom in</button>
                <button class="btn btn-outline-primary" (click)="zoomOut()">Zoom out</button>
                <button class="btn btn-danger" (click)="undoMarker()">Undo newest marker</button>
                <!-- <button class="btn btn-danger" (click)="loadCheckpoints()">Test button (Load all pins)</button> -->
                <!-- <button class="btn btn-outline-primary" (click)="addMarker()">Add marker</button> -->
                <!-- TODO MOVE EVERYTHING THAT IS IRRELEVANT FOR THE FORM OUT OF THE FORM! -->
            </div>
            <div class="col">
                <h6 style="text-align: center;">All checkpoints will be ordered by number. If you misplaced a checkpoint
                    please press the undo and place a new one</h6>
            </div>

        </div>
    </div>
</form>