<p></p>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col" >
      <div class="mat-elevation-z8" style="border:1px solid black; height: 200px; ">
        <table mdbTable mdbTableScroll scrollY="true" scrollX="false" maxHeight=400   >
          <thead class="indigo darken-3 white-text   ">
            <tr>
              <th>Team name</th>
              <th>Modify <b>(Admin part)</b></th>
            </tr>
          </thead>
          <tbody *ngFor="let team of teams"> 
            <tr>
              <th scope="row"> {{team.teamName}}</th> <!-- Adding a team in the row.-->
              <td>
                <button type="button" class="btn btn-warning" >Edit</button>
                <button type="button" class="btn btn-danger" >Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- OTher table to the right !-->
    <div class="col">
      <div class="mat-elevation-z8" style="border:1px solid black; height: 200px; ">
        <table mdbTable mdbTableScroll scrollY="true" scrollX="false" maxHeight=400>
          <thead class="indigo darken-3 white-text   table-layout: auto; ">
            <tr>
              <th>Team name</th>
              <th>Modify <b>(Leader part)</b></th>
            </tr>
          </thead>
          <tbody> 
            <tr>
              <th scope="row"> Team Sønderborg</th>
              <td>
                <button type="button" class="btn btn-danger" >Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


        
        
        
        <!-- <table style="float:right;">
            <tr>
                <th>Team Leader: </th>
            </tr>
            <tr *ngFor="let team of teams; index as i"> 
                {{i+1}} teamName: {{team.teamName}}
                <button type="button" class="btn btn-warning" (click)="editTeam(team)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteTeam(team)">Delete</button>
            </tr>
        </table> -->
<!--       
        <table style="float: right; width: 400px;">
          <tr>
            <th>Team Leader: </th>
          </tr>
          <tr>
              <td>BOB#1</td> 
              <div class="container">
                <tr *ngFor="let team of teams; index as i">
                  {{i+1}} teamName: {{team.teamName}}
                  <button type="button" class="btn btn-warning" (click)="editTeam(team)">Edit</button>
                  <button type="button" class="btn btn-danger" (click)="deleteTeam(team)">Delete</button>
                </tr>
              </div>
            </tr>
            <tr>
            <td>Jojo#2</td>
            <div class="container">
              <tr 
              
                <button type="button" class="btn btn-warning" >Edit</button> 
                <button type="button" class="btn btn-danger" >Delete</button>  (click)="deleteTeam(team)" 
              </tr>
            </div>
          </tr>
        </table>
        
        
        <br> -->
        
        
      
</div>
