.links a{
    padding:10px;
}
.links a.active {
    background-color:lightgrey;
}


h1{
    background-color: grey;
}

nav{
    background-color: royalblue;
    height: 100%;
    text-decoration-color: seashell;
}