<form action="/NEXT_PAGE_After_Register" method="post">
  <div class="imgcontainer">
      <img src="assets/img/registerLogo.png" alt="Avatar" class="avatar">
  </div>


  <div class="container" layout='row' layout-fill layout-margin layout-align='center'>
      <h2 class="info"><b>{{infoText}}</b></h2>
      <p></p>
      <div class="parrent">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
              <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <button type="submit">Register</button>
      <button onclick="location.href='./login-form'" type="button" class="alrparticbtn">Already participation
          ?</button> -->
  </div>

  

</form>