  .buttonDesign {  
    background-color: rgb(23, 13, 112);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 30px;
    display: block;
    margin: auto;
    left: 50%;
    
  }

  h1{
    text-align: center;
    margin-bottom: 50px;
  }

  h3{
    text-align: center;
    margin-bottom: 50px;
  }



  .imgcontainer { /*  Where the picture will be placed.  */ 
    text-align: center;
    margin: 24px 0 12px 0;
  }

  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .custom{
    background-color:Red;
    width:auto;
    padding:20px;
  }

  .center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }