<div class="container">
    <h2 class="info"><b> Your team is : ________(BOIS FROM DA HOOD) </b></h2>
    <br>
    <h4 class="approved"> Users to be approved</h4>
    </div>

    <div class="col">
      <div class="mat-elevation-z8" style="border:1px solid black; height: 300px;">
        <table mdbTable mdbTableScroll scrollY="true" scrollX="false" maxHeight=600>
          <thead class="indigo darken-3 white-text ">
            <tr>
              <th>Username</th>
              <th>Team Assigment</th>
              <th>Approvet</th>
            </tr>
          </thead>
          <tbody> 
            <tr>
              <th scope="row"> Bruse Wayne</th>
              <th>BoisFromDaHood</th>
              <td >
                <button  type="button" class="btn btn-danger" style="float: right;" >Delete</button>
                <button  accepttype="button" class="btn btn-success" style="float: right;">Accept</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>