<div class="container">
    <h2 class="info"><b> Your team is : ________(BOIS FROM DA HOOD) </b></h2>
    <br>
    <h4 class="approved"> Users to be approved</h4>
    </div>

    <table>
        <tr> 
          <th>Username</th>
          <th>Team Assigment</th>
          <th>Approvet</th>
        </tr>
        <tr>
          <td>Bruce Wayne</td>
          <td>BOIS FROM DA HOOD</td>
          <td>
            <button type="button" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        <tr>
          <td>Tony Stark</td>
          <td>BOIS FROM DA HOOD</td>
          <td>
            <button type="button" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        <tr>
          <td>SvampeBob Firkant</td>
          <td>BOIS FROM DA HOOD</td>
          <td>
            <button type="button" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        <tr>
          <td>Patrick Star</td>
          <td>BOIS FROM DA HOOD</td>
          <td>
            <button type="button" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        <tr>
            <td>Bob Ross</td>
            <td>BOIS FROM DA HOOD</td>
            <td>
            <button type="button" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Delete</button>
              </td>
        </tr>