<p></p>
<p>home works!</p>
<h1></h1>


<div class="container">
<img src="assets/img/homeRace.png" alt="MainPicture" width="500" height="333" style="float: left;"> 
<h1> Oxbridge Race: </h1>
<div class="text-block">
    <img src="assets/img/pin.png" alt="pin" style="float:left"> 
    <h3> Kommende begivenhed </h3>
    <p>Her i @TSRaalborg - The Tall Ships Races Aalborg / Aalborg Events venter ferien om hjørnet. 
        Skulle du ikke have fået nok af de store sejlskibe (kan man få nok?), så skulle du tage en tur forbi Aarhus 1. - 4. august, hvor årets kapsejlads slutter!</p>
</div>
</div>