<div>
  <mdb-carousel [animation]="'slide'" >
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/img/pic6.jpg" alt="First slide" width="500" height="500">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/img/pic4.jpg" alt="Second slide" width="500" height="500">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/img/pic5.jpg" alt="Third slide" width="500" height="500">
    </mdb-carousel-item>
  </mdb-carousel>
  <div class="container">
    <br>
    <img src="assets/img/radio.png" width="40px" alt="pin" style="float: left;"> 
    <h3 style="text-align: left; margin-top: 8px; margin-left: 50px;">Information</h3>
    <br>
    <p>This year, Oxbridge on Alssund 2018 will be held on Thursday, June 31 in the Port Basin immediately in front of Alsion as usual. We have received incredibly positive feedback from the total of 8 schools looking forward to having up to two teams each. We therefore expect approx. 60 young people who are going to fight about the hiking trophy that is currently held by Business College South (Det Blå Gym).</p>
    <p>To enter the race, sign up, create a team, add your participants and join the race you want to be a part of.</p>
  </div>

</div>

<br>
<br>


<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/img/racehome.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Races</h2>
      <p>Checkout the upcoming races you don't wanna miss!</p>
      <p><a class="btn btn-secondary" href="/races" role="button">Check it now »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/img/team.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Your team</h2>
      <p>As a team leader you can manage and approve team members, so you are ready for the big day!</p>
      <p><a class="btn btn-secondary" href="/login-form" role="button">Login now »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/img/registerhome.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Register</h2>
      <p>To get started, please create an account and make a team, or join an existing team.</p>
      <p><a class="btn btn-secondary" href="register-form" role="button">Register now »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">From state school to the Boat Race: <span class="text-muted">Alice Roberts rows against the tide.</span></h2>
      <p class="lead">The Oxford teenager, who is preparing to compete in the 73rd edition of the women’s event, is bucking the trend of rowing as an elitist sport.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto"  style="width: 500px; height: 300px;" src="assets/img/pic1.jpg" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Boat Race 2018: Cambridge beat Oxford in men's and women's race<span class="text-muted">– as it happened.</span></h2>
      <p class="lead">Cambridge led from the front in the men’s and women’s races to win both events for the first time since the women’s race moved to the Tideway in 2015</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="assets/img/thebois.jpg" data-holder-rendered="true" style="width: 500px; height: 300px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Bomb scare can’t dampen festivities  <span class="text-muted">as Oxford and Cambridge both score wins.</span></h2>
      <p class="lead">A day that began with a bomb scare ended with an explosion of joy from the Oxford supporters assembled at the finish line of the 163rd Boat Race.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto"   src="assets/img/pic3.jpg" data-holder-rendered="true" style="width: 500px; height: 300px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>

<footer class="container">
  <p class="float-right"><a href="#" onlick>Back to top</a></p>
  <p>© 2020 Oxbridge Race by TheBoisFromTheHood  · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>

